<!DOCTYPE html>
<html>
<head>
    <meta content="text/html charset=UTF-8" http-equiv="Content-Type">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <!--External Fonts-->
    <style>
        @font-face {
            font-family: 'segosemi';
            src: url('segufont.ttf') format('truetype'); /* Safari, Android, iOS */
        }
    </style>
    <!--End External Fonts-->
</head>
<!--Body-->
<body style="margin: 0;">
<!--Main Wrapper-->
<div class="wrapper" style="width: 100%;">
    <!--Inner wrapper -->
    <div class="inner-wrapper" style="width: 100%; background-color: #ffffff; Margin: 0 auto;">
        <!--Header Section-->
        <!--<div class="header-section" style="padding: 60px 0px;">-->
            <!--<img class="img-responsive" src="@base_url@images/header-icon.png"-->
                 <!--style="width: 130px; height: auto; margin: 0 auto; display: block;">-->
        <!--</div>-->
        <!--Header Section-->

        <!--Content Section-->
        <div class="content-section" style="text-align: center; background-color: rgb(145,145,145);padding: 50px 30px;">
            <!--<h1 style="font-size:26px; margin-top: 0px; margin-bottom: 0px; color: white; font-family: 'segosemi';">-->
            <!--Dear Member-->
            <!--</h1>-->
            #content#
        </div>
        <!--End Content Section-->

        <!--Footer Section-->
        <!--<div class="footer-section" style="padding: 50px 20px;">-->
            <!--<div class="icons-div" style="padding-bottom: 40px; text-align: center;">-->
                <!--<a href="#"><img alt="facebook-icon"-->
                                 <!--src="@base_url@images/facebook-icon.png"-->
                                 <!--style=" width: 35px; height: auto;"></a> <a-->
                        <!--href="#"><img alt="twitter-icon"-->
                                      <!--src="@base_url@images/twitter-icon.png"-->
                                      <!--style="width: 35px; height: auto; margin-left: 15px;"></a> <a href="#"><img-->
                            <!--alt="google-icon" src="@base_url@images/google-icon.png"-->
                            <!--style=" width: 35px; height: auto; margin-left: 15px;"></a>-->
                <!--<a href="#"><img alt="linkedn-icon"-->
                                 <!--src="@base_url@images/linkedn-icon.png"-->
                                 <!--style="width: 35px; height: auto; margin-left: 15px;"></a>-->
            <!--</div>-->

            <!--<p style="font-size: 15px; color: #818285; font-family: 'PT Sans', sans-serif; width: 100%; display: block; margin: 0 auto; text-align: center; padding-bottom: 20px;">-->
                <!--Thank you, The E-Pharma Team-->
            <!--</p>-->

            <!--<a href="#"-->
               <!--style=" background-image: url('@base_url@images/apple-btn.png'); padding: 0; width: 165px; height: 50px; background-repeat: no-repeat; background-size: cover; background-color: transparent; border: none; display: block; margin: 0 auto; cursor: pointer;"></a>-->
        <!--</div>-->
        <!--End Footer Section-->
    </div>
    <!--- End Inner Wrapper-->
</div>
<!--- End Main Wrapper -->
</body>
<!--End Body-->
</html>